<mat-toolbar>
    <mat-toolbar-row>
        <nav mat-tab-nav-bar>
            <button mat-button class="main-logo" routerLink="/beers/dashboard"><h2>Tour of Beers</h2></button>
        </nav>
        <nav mat-tab-nav-bar>
            <button mat-button class="menu-dashboard-button" routerLink="/beers/dashboard"> Dashboard </button>
        </nav>
        <span ></span>
        <nav mat-tab-nav-bar>
            <button mat-button class="menu-list-button" routerLink="/beers">All Beers</button>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>